.titleLogin{
  text-align: center;
  font-size: 30px;
  margin-top: 30%;
}

.button-login{
  margin-top: 8%;
}

.input-password {
  margin-top: 5%;
}

.input-username{
  margin-top: 20%;
}

.textCenter {
  text-align: center;
}
